# SQL analysis part 2

Download this Juypter Notebook and solve the tasks by inserting the SQL queries (it is not possible to solve the tasks in Colab). 

Example query (we include `df_example` at the end of the code cell to print the result):

```Python
df_example = pd.read_sql("""
    SELECT *
    FROM ecommerce_data;
""", engine)

df_example
```

## Setup

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

## Data

Connect to your MySQL-database "db_ecommerce" (make sure to prepare your `.env` file)

In [ ]:
load_dotenv()   # take environment variables from .env

engine = create_engine("mysql+pymysql://" + os.environ['DB_URL'] + "/db_ecommerce", pool_pre_ping=True, pool_recycle=300)

In [ ]:
# Use pandas to_sql function to create the table in the database
df = pd.read_csv('https://raw.githubusercontent.com/kirenz/lab-competitive/main/code/ecommerce.csv')
df.to_sql('ecommerce', engine, if_exists='replace')

# Task 1 

Get the count of E-shops that have an average rating more than 6.5. Use the alias `eshop_count`.

In [ ]:

df1 = pd.read_sql("""

""", engine)

df1

# Task 2

Get the sum of annual revenue grouped by eshop_name. Use the alias `total_revenue`.

In [ ]:
df2 = pd.read_sql("""

""", engine)

df2

# Task 3 

Get the maximum and minimum number of social_media_followers by eshop_name. Use the aliases `max_followers` and `min_followers`

In [ ]:
df3 = pd.read_sql("""

""", engine)

df3

# Task 4 

Get the average annual revenue by eshop_name, only include groups having average annual revenue more than 30000. Use the alias `average_revenue`. Show average revenue with all digits (e.g. 30000 instead of 30).

In [ ]:

df4 = pd.read_sql("""

""", engine)

df4

# Task 5 

Get the total annual revenue and social media followers by eshop_name, including rollup. Use the aliases `total_revenue` and `total_followers`

In [ ]:

df5 = pd.read_sql("""

""", engine)

df5

## Close the connection

In [ ]:
# close connection
engine.dispose()