# SQL analysis part 1

Download this Juypter Notebook and solve the tasks by inserting the SQL queries (it is not possible to solve the tasks in Colab). 

Example query (we include `df_example` at the end of the code cell to print the result):

```Python
df_example = pd.read_sql("""
    SELECT *
    FROM ecommerce_data;
""", engine)

df_example
```

## Setup

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

## Data

Connect to your MySQL-database "db_ecommerce" (make sure to prepare your `.env` file)

In [2]:
load_dotenv()   # take environment variables from .env

engine = create_engine("mysql+pymysql://" + os.environ['DB_URL'] + "/db_data", pool_pre_ping=True, pool_recycle=300)

In [3]:
# Use pandas to_sql function to create the table in the database
df = pd.read_csv('https://raw.githubusercontent.com/kirenz/lab-competitive/main/code/ecommerce.csv')
df.to_sql('ecommerce_data', engine, if_exists='replace')

108


## Task 1  

Get the list of distinct E-shops that have annual revenue more than 70000 and less than 75000 (note that annual revenue is recorded in 10K, i.e. 70 in the data equals 70000)

In [ ]:
df1 = pd.read_sql("""

""", engine)

df1

## Task 2

Get the top 3 records with the highest annual revenue and which have 'b' or 'a' in their names (note that you need to use two % in Python, e.g. '%%a%%' instead of '%a%'). Show the annual revenue in thousands of dollars (e.g. 10000 instead of 10) and name it revenue.

In [ ]:
df2 = pd.read_sql("""

""", engine)

df2

## Task 3

Get the list of E-shops that have `NULL` in social_media_followers

In [ ]:
df3 = pd.read_sql("""

""", engine)

df3

## Task 4

Get the E-shops whose average rating is in (3.5, 4.0, 4.5). Note that only returns values which exactly matches one of the conditions (this is not an intervall).

In [ ]:
df4 = pd.read_sql("""

""", engine)

df4

## Task 5

Get the E-shops with social media followers that are above 1400 and have 'a' or 'c' in their names. Use REGEXP to obtain the result.

In [ ]:
df5 = pd.read_sql("""

""", engine)

df5

## Task 6

Get the E-shops with annual revenue above 70000 or with social media followers that are above 1400 and end with 'a' in their names. Use REGEXP to obtain the result.

In [ ]:
df6 = pd.read_sql("""

""", engine)


df6

## Close the connection

In [ ]:
# close connection
engine.dispose()