# Competitive analysis E-commerce

## Setup

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from key import *

## Data

Connect to your MySQL-database

In [2]:
cnx = mysql.connector.connect(**config)

## First analysis

In [3]:

# Average Revenue by E-Shop
df_avg_revenue = pd.read_sql("""
    SELECT eshop_name, AVG(annual_revenue) as average_revenue
    FROM ecommerce_data
    GROUP BY eshop_name;
""", cnx)

df_avg_revenue

/var/folders/xv/mfzfdtz93_n7615m5ks0tm2m0000gn/T/ipykernel_82036/1075505303.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg_revenue = pd.read_sql("""

  eshop_name  average_revenue
0    E-ShopA        30.221111
1    E-ShopB        30.221111
2    E-ShopC        30.221111

In [ ]:

# E-Shop with the Highest Average Rating
df_best_rating = pd.read_sql("""
    SELECT eshop_name, AVG(average_rating) as average_rating
    FROM ecommerce_data
    GROUP BY eshop_name
    ORDER BY average_rating DESC
    LIMIT 1;
""", cnx)

In [ ]:

# E-Shop Performance Over Time
df_revenue_by_year = pd.read_sql("""
    SELECT eshop_name, YEAR(date) as year, SUM(annual_revenue) as total_revenue
    FROM ecommerce_data
    GROUP BY eshop_name, year;
""", cnx)

In [ ]:

# E-Shop with the Most Social Media Followers
df_most_followers = pd.read_sql("""
    SELECT eshop_name, MAX(social_media_followers) as max_followers
    FROM ecommerce_data
    GROUP BY eshop_name
    ORDER BY max_followers DESC
    LIMIT 1;
""", cnx)

In [ ]:

# Monthly Active User Base Growth
df_user_growth = pd.read_sql("""
    SELECT eshop_name, DATE_FORMAT(date, '%Y-%m') as month, AVG(active_user_base) as average_active_users
    FROM ecommerce_data
    GROUP BY eshop_name, month;
""", cnx)

In [ ]:

# Close the connection
cnx.close()