# SQL analysis part 3

Download this Juypter Notebook and solve the tasks by inserting the SQL queries (it is not possible to solve the tasks in Colab). 

Example query (we include `df_example` at the end of the code cell to print the result):

```Python
df_example = pd.read_sql("""
    SELECT *
    FROM ecommerce_data;
""", engine)

df_example
```

## Setup

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

## Data

Connect to your MySQL-database "db_ecommerce" (make sure to prepare your `.env` file)

In [ ]:
load_dotenv()   # take environment variables from .env

engine = create_engine("mysql+pymysql://" + os.environ['DB_URL'] + "/db_ecommerce", pool_pre_ping=True, pool_recycle=300)

In [ ]:
# Use pandas to_sql function to create the table in the database
df = pd.read_csv('https://raw.githubusercontent.com/kirenz/lab-competitive/main/code/ecommerce.csv')
df.to_sql('ecommerce', engine, if_exists='replace')

## Average Revenue by E-Shop

- Show the average revenue for all shops
- Use the alias `average_revenue`

In [ ]:

df_avg_revenue = pd.read_sql("""

""", engine)

df_avg_revenue

## E-Shop with the Highest Average Rating

- Only show the E-Shop with the highest average rating
- Use the alias `average_rating`

In [ ]:

df_best_rating = pd.read_sql("""

""", engine)

df_best_rating

## E-Shop Performance Over Time 

- Show the annual revenue per E-Shop by year
- Use the aliases `year`  and `total_revenue`

In [ ]:

df_revenue_by_year = pd.read_sql("""

""", engine)

df_revenue_by_year

## Maximum Social Media Followers

- Show the maximum amount of social media followers for every E-shop in a descending order.
- Use the alias `max_followers`

In [ ]:

df_most_followers = pd.read_sql("""

""", engine)

df_most_followers

## Monthly Time on Site overview

- Show a monthly overview of the average time on site for every E-shop (order by E-shop and month)
- Use the aliases `month` and `average_time_on_site`
- Hint: in Python, you need to use %% instead of % in your query. This means you have to use `DATE_FORMAT(date, '%%m')`

In [ ]:
df_user_growth = pd.read_sql("""

""", engine)

df_user_growth

## Close the connection

In [ ]:
# close connection
engine.dispose()